.custom-color {
  color: #444;
}
.learnmoreblue {
	width: auto;
	text-transform: uppercase;
	font-size: 18px;
	display: inline-block;
	background-repeat: no-repeat;
    background-position: right 10px top 6px;
    background-image: url(images/blue-arrow.png);
    
}
.learnmoreblue a {
	display: inline-block;
	width: auto;
	padding: 5px 40px 10px 0px;
	text-decoration: none;
    color: #00428B;
}