
div {

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
.clear {clear: both;}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 20px;
	overflow: hidden;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
	@media screen and (min-width: $deskwidth) {
		width: 90%;
		padding: 0px;
	}
}
#content-flex {
	display: flex;
	justify-content: space-between;
}
.content-area {
	width: 100%;
	margin: 0px auto;
	padding: 20px;
	align-items: stretch;
	
	@media screen and (min-width: $midwidth) {
		width: 52%;
		float: left;
		margin: 0 0 0 3%;
		padding: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	align-items: stretch;
	
	@media screen and (min-width: $midwidth) {
		width:41%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
header.site-header {
	background-color: $color-light-blue;
	min-height: 150px;
	border-top: 4px solid #000;
}

/* Logo */
.logo , h1.logo {
	width: 250px;
	height: 61px;
	background-image: url(images/logo.png);	
	background-size: cover;
	margin: 0px auto 10px auto;

	@media screen and (min-width: $tabwidth) {
		width: 280px;
		height: 68px;
	}
	@media screen and (min-width: $midwidth) {
		float: left;
		margin: 20px 0 0 0;
	}
	@media screen and (min-width: $deskwidth) {
		width: 300px;
		height: 73px;
	}
}
.logo a, h1.logo a {
	width: 250px;
	height: 61px;
	display: block;
	text-indent: -9000px;

	@media screen and (min-width: $tabwidth) {
		width: 280px;
		height: 68px;
	}
	@media screen and (min-width: $deskwidth) {
		width: 300px;
		height: 73px;
	}
}
.flex {
	display: flex;
	flex-flow: row wrap;
}
.learnmore {
	width: auto;
	text-transform: uppercase;
	font-size: 18px;
	display: inline-block;
    
    background: {
    	repeat: no-repeat;
    	position: right 10px top 6px;
    }
  

    &.white {
    	background-image: url(images/white-arrow.png);
    	a {color: #fff}
    }
    &.blue {
    	background-image: url(images/blue-arrow.png);
    	a {color: $color-blue;}
    }
	a {
		
		display: inline-block;
		width: auto;
		padding: 5px 40px 10px 0px;
		text-decoration: none;

		&:hover {
			background-position: right 0px top 6px;
		}

	}

	i {
		width: 20px;
		position: relative;
		float: right;
		margin: -5px -0px 0 3px;
		@include transition(all ease .3s);
	}

}
// For Wysiwig
.learnmoreblue {
	width: auto;
	text-transform: uppercase;
	font-size: 18px;
	display: inline-block;
	background-repeat: no-repeat;
    background-position: right 10px top 6px;
    background-image: url(images/blue-arrow.png);
    
}
.learnmoreblue a {
	display: inline-block;
	width: auto;
	padding: 5px 40px 10px 0px;
	text-decoration: none;
    color: $color-blue;;
}
.featured-post {
	margin: 50px auto;
}
.nav-single {
	margin: 0 0 30px 0;
}
.nav-next, .nav-previous {
	width: auto;
	display: inline-block;
	font-size: 20px;
    a {
    	color: $color-blue;
    	display: inline-block;
    	width: auto;
		padding: 5px 40px 10px 0px;
		text-decoration: none;
    
	    background: {
	    	repeat: no-repeat;
	    }
    }
}
.nav-next {
	float: right;
	a {
		padding: 5px 40px 10px 0px;
    	background: {
    		position: right 10px top 6px;
    		image: url(images/blue-arrow.png);
    	}
	}
}
.nav-previous {
	float: left;
	a {
		padding: 5px 0px 10px 40px;
    	background: {
    		position: left 10px top 6px;
    		image: url(images/blue-arrow-prev.png);
    	}

	}
}
footer.site-footer {
	width: 100%;
	clear: both;
	background-color: #000;
	color: #fff;
	padding: 20px 0;
	overflow: hidden;
	// margin-top: 50px;

	h3 {
		text-transform: uppercase;
		
		font: {
			size: 18px;
			family: $font__main;
		}
	}

	.col {
		width: 100%;
		float: left;
		margin: 0 0 30px 0;

		@media screen and (min-width: $tabwidth) {
			width: 30%;
			margin: 0 3% 30px 0;
		}
	}
	.white-border {
		border-top: 1px solid #fff;
	}
	.item {
		width: 100%;
		margin: 0 0 20px 0;
		float: left;
	}

	a {
		color: #fff;
		text-decoration: none;
		margin: -5px -0px 0 3px;
		@include transition(all ease .3s);

		&:hover {
			color: $color-red;
		}
	}
}
.footer-bottom {
	width: 100%;
	border-top: 1px solid #333;
	clear: both;
	padding: 20px 0 0 0;
}
section.blue-downloads {
	background-color: $color-blue;
	color: #fff;
	padding: 5%;
	overflow: hidden;
	height: 100%;

	h2 {
		width: 100%;
		position: relative;

		&:after {
			width: 50%;
			content: '';
			border-bottom: 2px solid #fff;
			position: absolute;
			bottom: -5px;
			left: 0;
		}
	}

	.download-row {
		width: 100%;
		float: left;
		margin: 0 0 10px 0;

		p {margin: 0;}
		
	}
	li {
		padding: 0;
		margin: 0 0 0 8px;
		list-style-position: outside;
		list-style-type: disc;
	}
	.download-col-1 {
		width: 60%;
		float: left;
	}
	.download-col-2 {
		width: 20%;
		float: left;
	}
	.download {
		width: 30px;
		height: 30px;
		margin: 20px auto 0 auto;
		text-align: center;
		@include transition(all ease .3s);

		a {
			display: block;
			color: #fff;
			// width: 25px;
			// height: 25px;
			@include transition(all ease .3s);
			&:hover {
				color: $color-red;
				i {
					font-size: 2vw;
				}
			}
		}
		i {
			font-size: 1.8vw;
		}
	}
	
}