
div {

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
.clear {clear: both;}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 20px;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
	@media screen and (min-width: $deskwidth) {
		width: 1200px;
		padding: 0px;
	}
}

.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
header.site-header {
	background-color: $color-light-blue;
	min-height: 150px;
}

/* Logo */
.logo , h1.logo {
	width: 250px;
	height: 61px;
	background-image: url(images/logo.png);	
	background-size: cover;
	margin: 10px auto;

	@media screen and (min-width: $tabwidth) {
		width: 350px;
		height: 85px;
		float: left;
		margin: 20px 0 0 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.logo a, h1.logo a {
	width: 250px;
	height: 61px;
	display: block;
	text-indent: -9000px;

	@media screen and (min-width: $tabwidth) {
		width: 350px;
		height: 85px;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.flex {
	display: flex;
	flex-flow: row wrap;
}
.learnmore {
	width: auto;
	text-transform: uppercase;
	font-size: 18px;
	a {
		color: $color-blue;
		display: inline-block;
		width: auto;
		padding: 15px;
		text-decoration: none;

		&:hover {
			i {
				margin: -5px -0px 0 8px;
			}
		}

	}

	i {
		width: 20px;
		position: relative;
		float: right;
		margin: -5px -0px 0 3px;
		@include transition(all ease .3s);
	}

}
footer.site-footer {
	width: 100%;
	clear: both;
	background-color: #000;
	color: #fff;
}