.sticky {
	display: block;
}

.hentry {
	margin: 0;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// Homepage
section.sections {
	text-align: center;
	padding: 30px 0;
	font-size: 1.4em;
	header.title {
		width: 100%;
		clear: both;
	}
	h2 {
		width: auto;
		display: inline-block;
		color: $color-red;
		font-size: 30px;
		padding: 0 25px;
		border-bottom: 3px solid $color-blue;
	}
	.desc {
		width: 60%;
		margin: 10px auto;
	}
}
section.grey {
	background-color: $color-light-grey;
	overflow: hidden;
}
section.home-banner {
	width: 100%;
	position: relative;

	& img {
		width: 100%;
	}

	.welcome-text {
		width: 90%;
		position: absolute;
		top: 45%;
		color: #fff;
		font: {
			family:$font__headline;
			size: 40px;
		}
		left: 5%;
		text-align: center;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.71);
	}
}
section.about {

}
section.values	{

}
section.post	{

}
.blue-box-cont {
	width: 100%;
	margin: 0 0 30px 0;
	align-items: stretch;

	@media screen and (min-width: $tabwidth) {
		width: 33%;
		float: left;
		
		padding: 1%;
	}
}
.blue-box {
	background-color: $color-blue;
	color: #fff;
	margin: 2%;
	padding: 5%;
	height: 100%;
	

	.icon {
		width: 60px;
		margin: 0 auto 30px auto;
		& img {
			width: 100%;
		}
	}
	h3 {
		text-transform: uppercase;
		font-size: 16px;
	}
}
article.post {
	width: 100%;
	
	position: relative;

	@media screen and (min-width: $tabwidth) {
		display: flex;
	}

	.excerpt {
		font-size: 16px;
	}

	& .link a, & .link {
		color: #fff;
		text-decoration: none;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;

		&:hover {
			header.red {
				.learnmore {
					i {
						margin: -5px -0px 0 8px;
					}
				}
			}
		}
	}

	header.red {
		background-color: $color-red;
		color: #fff;
		align-items: stretch;
		width: 100%;
		position: relative;
		padding: 2%;
		text-align: left;

		@media screen and (min-width: $tabwidth) {
			width: 30%;
			padding: 2%;
			float:  left;
		}	

		h3 {
			width: 100%;
			font: {
				family: $font__headline-light;
				size: 30px;
				weight: 300;
			}
		}
		.type {
			width: 100%;
			font: {
				family: $font__headline;
				size: 20px;
			}
		}
		.city {
			position: relative;
			width: 100%;
			font: {
				family: $font__main;
				size: 14px;
			}
			text-transform: uppercase;
			&::after {
				width: 50%;
				content: '';
				border-bottom: 1px solid #fff;
				position: absolute;
				bottom: -3px;
				left: 0;
			}
		}	
	}

	.photo {
		align-items: stretch;
		padding: 0;
		overflow: hidden;
		width: 100%;
		float: left;
		@media screen and (min-width: $tabwidth) {
			// width: 63%;
			// float:  right;
		}	

		& img {
			width: 100%;
			transform: scale(1.1);
		}
	}

	.lm-right {
		position: absolute;
		display: block;
		bottom: 20px;
		right: 20px;
	}

}
.grey-wrap {
	padding: 3%;
	h2 {
		color: $color-blue;
		width: 100%;
		text-align: center;
		margin: 0 0 40px 0;
		font-size: 23px;
	}
}
.graph-cont {
	width: 100%;
	position: relative;
}
.graph {
	width: 50%;
	img {
		width: 100%;
	}
	display: none;
	@media screen and (min-width: $tabwidth) {
		display: block;
	}
}
.graph-titles {
	width: 100%;
	margin: 0 0 10px 0;
	position: relative;
	text-transform: uppercase;
	padding: 3px;
	cursor: pointer;

	@media screen and (min-width: $tabwidth) {
		margin: 0;
		width: auto;
		position: absolute;
	}

	&:hover {
		background-color: #fff;
	}
}
.graph-hover {
	width: 40%;
	color: $color-blue;

	@media screen and (min-width: $tabwidth) {
		position: absolute;
		top: 0;
		right: 0;
		display: none;
		font-size: 20px;
		font-weight: bold;
	}
	@media screen and (min-width: $tabwidth) {
		font-size: 30px;
	}
}
.fog-seal {
	
	@media screen and (min-width: $tabwidth) {
		top: -20px;
		left: 3%;
	}
}
.pavement-sealer {
	@media screen and (min-width: $tabwidth) {
		top: 0%;
    	left: 15%;
	} 
	
}
.chip-seal {
	@media screen and (min-width: $tabwidth) {
		top: 10%;
    	left: 28%;
	}
}
.microsurfacing {
	@media screen and (min-width: $tabwidth) {
		top: 23%;
    	left: 35%;
	}
}
.thin-lift-hot-mix-overlay {
	@media screen and (min-width: $tabwidth) {
		top: 36%;
    	left: 40%;
	}
}
.cape-seal {
	@media screen and (min-width: $tabwidth) {
		top: 50%;
    	left: 45%;
	}
}
.full-depth-reclamation {
	@media screen and (min-width: $tabwidth) {
		top: 65%;
    	left: 48%;
	}
}
.recyclflex {
	@media screen and (min-width: $tabwidth) {
		// top: 240px;
		top: 80%;
		left: 50%;
	}
}
.contact-col {
	width: 100%;
	margin: 0 0 20px 0;
	@media screen and (min-width: $tabwidth) {
		width: 40%;
		margin: 0 3% 30px 0;
		float: left;
	}
	@media screen and (min-width: $midwidth) {
		width: 20%;
	}
}
.contact-map {
	width: 100%;
	margin: 0 0 20px 0;
	@media screen and (min-width: $tabwidth) {
		width: 80%;
		margin: 20px auto;
		
	}
	@media screen and (min-width: $midwidth) {
		width: 40%;
		float: right;
		margin: 0 0% 30px 0;
	}
}
// .customers {background-image: url(images/icon-customers.png;)}
// .solutions {background-image: url(images/icon-solutions.png;)}
// .ideas {background-image: url(images/icon-ideas.png;)}
// .process {background-image: url(images/icon-process.png;)}
// .people {background-image: url(images/icon-people.png;)}
// .communication {background-image: url(images/icon-communication.png;)}

